<?xml version="1.0"?>
<config>
  <modules>
    <Debitway_Interac>
      <version>0.1.0</version>
    </Debitway_Interac>
  </modules>
  <global>
    <models>
      <debitway>
        <class>Debitway_Interac_Model</class>
      </debitway>
      <sales>
        <rewrite>
          <service_quote>Debitway_Interac_Model_Service_Quote</service_quote>
        </rewrite>
      </sales>
    </models>
    <resources>
      <debitway_setup>
          <setup>
              <module>Interac</module>
          </setup>
          <connection>
              <use>core_setup</use>
          </connection>
      </debitway_setup>
      <debitway_write>
          <connection>
              <use>core_write</use>
          </connection>
      </debitway_write>
      <debitway_read>
          <connection>
              <use>core_read</use>
          </connection>
      </debitway_read>
    </resources>
    <helpers>
      <debitway>
        <class>Debitway_Interac_Helper</class>
      </debitway>
    </helpers>
    <blocks>
      <debitway>
        <class>Debitway_Interac_Block</class>
      </debitway>
    </blocks>
  </global>
  <default>
    <payment>
      <debitway>
        <model>debitway/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Debitway- Interac online</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </debitway>
    </payment>
  </default>
  <frontend>
    <routers>
      <debitway>
        <use>standard</use>
        <args>
          <module>Debitway_Interac</module>
          <frontName>debitway</frontName>
        </args>
      </debitway>
    </routers>
  </frontend>
</config>
